<div class="chatroom-form">
  <%= form_for chatroom, remote: true do |f| %>
    <div class="input-group">
      <span class="input-group-addon">topic:</span>
      <%= f.text_field :topic, class: "form-control"%>
    </div>
    <br>
    <br>
    
    <%= f.submit class: "btn btn-default", id: "create-chatroom" %>
    <br>
    <br>
    
  <% end %>
</div>